main {
  margin-top: 16px;
}
.index-wrapper {
  max-width: 960px;
  margin:0 auto;
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:4px 0;
    border-bottom: 1px solid #ddd;
    .logo {
      font-size: 32px;
      font-weight: 400;
    }
  }
  .todos-outer {
    width: 50%;
    padding:16px;
    border:1px solid #ddd;
    border-radius: 4px;
    .todo-items {
      border-top: 1px solid #ddd;
      margin-top: 16px;
    }
  }
}